<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learn EJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Khoa Pham NodeJS 111 222</h1>
    </body>
    <script src="/reload/reload.js"></script>
</html>
